<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>button1</key>
	<string>new_01_cn.png</string>
	<key>button2</key>
	<string>new_02_cn.png</string>
	<key>button3</key>
	<string>new_03_cn.png</string>
	<key>button4</key>
	<string>new_04_cn.png</string>
	<key>button5</key>
	<string>new_05_cn.png</string>
	<key>button6</key>
	<string>new_06_cn.png</string>
	<key>button7</key>
	<string>new_07_cn.png</string>
	<key>button8</key>
	<string>new_08_cn.png</string>
	<key>button9</key>
	<string>new_09_cn.png</string>
	<key>button10</key>
	<string>返回 </string>
	<key>button11</key>
	<string>设定</string>
	<key>title0</key>
	<string>首页</string>
	<key>title1</key>
	<string>配戴者信息</string>
	<key>title2</key>
	<string>配戴者状态</string>
	<key>title3</key>
	<string>测量记录查询</string>
	<key>title3-1</key>
	<string>血压测量</string>
	<key>title3-2</key>
	<string>血糖测量</string>
	<key>title3-3</key>
	<string>血氧测量</string>
	<key>title3-4</key>
	<string>体重计测量</string>
	<key>title3-5</key>
	<string>计步器测量</string>
	<key>show_image1</key>
	<string>new_show_1_cn.png</string>
	<key>show_image2</key>
	<string>new_show_2_cn.png</string>
	<key>show_image3</key>
	<string>new_show_4_cn.png</string>
	<key>show_image4</key>
	<string>new_show_3_cn.png</string>
	<key>show_image5</key>
	<string>new_show_5_cn.png</string>
	<key>show_image6</key>
	<string>new_show_6_cn.png</string>
	<key>title4</key>
	<string>定位救援</string>
	<key>title5</key>
	<string>活动区域</string>
	<key>title6</key>
	<string>历史记录</string>
	<key>title7</key>
	<string>通话速拨</string>
	<key>title8</key>
	<string>貼心設定</string>
	<key>title9</key>
	<string>复诊提醒</string>
	<key>UserSet-L1</key>
	<string>最近开机</string>
	<key>UserSet-L2</key>
	<string>最近关机</string>
	<key>UserSet-L3</key>
	<string>关机原因</string>
	<key>UserSet-L4</key>
	<string>同步时间</string>
	<key>UserSet-L5</key>
	<string>电量</string>
	<key>UserSet-L6</key>
	<string>体表温度</string>
	<key>UserSet-L7</key>
	<string>基地台位置</string>
	<key>UserSet-L8</key>
	<string>手表版本</string>
	<key>UserSet-L9</key>
	<string></string>
	<key>UserDate_Name</key>
	<string>姓名</string>
	<key>UserDate_Phone</key>
	<string>手机号码</string>
	<key>UserDate_Peace</key>
	<string>住址</string>
	<key>UserDate_Sex</key>
	<string>性别</string>
	<key>UserDate_Imei</key>
	<string>IMEI</string>
	<key>UserDate_Title1</key>
	<string>吃藥提醒</string>
	<key>UserDate_Title2</key>
	<string>醫院复诊</string>
	<key>His_Title_2_1</key>
	<string>时 间</string>
	<key>His_Title_2_2</key>
	<string>地 点</string>
	<key>His_Title_3_1</key>
	<string>开 始</string>
	<key>His_Title_3_2</key>
	<string>结 束</string>
	<key>His_Title_3_3</key>
	<string>长 度</string>
	<key>Show_Title_1_1</key>
	<string>时间</string>
	<key>Show_Title_1_2</key>
	<string>收缩压</string>
	<key>Show_Title_1_3</key>
	<string>舒张压</string>
	<key>Show_Title_1_4</key>
	<string>心跳</string>
	<key>Show_Title_2_1</key>
	<string>时间</string>
	<key>Show_Title_2_2</key>
	<string>血糖</string>
	<key>Show_Title_2_3</key>
	<string>舒张压</string>
	<key>Show_Title_2_4</key>
	<string>心跳</string>
	<key>Show_Title_3_1</key>
	<string>时间</string>
	<key>Show_Title_3_2</key>
	<string>体重</string>
	<key>Show_Title_3_3</key>
	<string>BMI</string>
	<key>Show_Title_3_4</key>
	<string>体​​脂率</string>
	<key>Show_Title_4_1</key>
	<string>时间</string>
	<key>Show_Title_4_2</key>
	<string>血氧</string>
	<key>Show_Title_4_3</key>
	<string>心跳(分鐘)</string>
	<key>Show_Title_4_4</key>
	<string>BMI</string>
	<key>Show_Title_5_1</key>
	<string>日期</string>
	<key>Show_Title_5_2</key>
	<string>步数</string>
	<key>Show_Title_5_3</key>
	<string>距离</string>
	<key>Show_Title_5_4</key>
	<string>卡路里</string>
	<key>Login_Bu_Title</key>
	<string>进入系统</string>
	<key>Alert_Message_1</key>
	<string>晚上10點至早上6點為睡眠時間 , 請問您確定要設定嗎?</string>
	<key>Alert_Message_2</key>
	<string>提醒</string>
	<key>Alert_Message_3</key>
	<string>确定</string>
	<key>Alert_Message_4</key>
	<string>取消</string>
	<key>Alert_Message_5</key>
	<string>配戴者设定</string>
	<key>Alert_Message_6</key>
	<string>请进入设定页新增配戴者</string>
	<key>Alert_Message_7</key>
	<string>關閉</string>
	<key>Alert_Message_8</key>
	<string>你确定要移除此配戴者嗎?</string>
	<key>Alert_Message_9</key>
	<string>不能设定过期的时间</string>
	<key>Eat_Message_1</key>
	<string>您正在修改的是 吃药提醒，第01組资料</string>
	<key>Eat_Message_2</key>
	<string>您正在修改的是 吃药提醒，第02組资料</string>
	<key>Eat_Message_3</key>
	<string>您正在修改的是 吃药提醒，第03組资料</string>
	<key>Eat_Message_4</key>
	<string>您正在修改的是 吃药提醒，第04組资料</string>
	<key>Eat_Message_5</key>
	<string>您正在修改的是 吃藥提醒，第05組资料</string>
	<key>Data_Message_1</key>
	<string>您正在修改的是 复诊提醒，第01組资料</string>
	<key>Data_Message_2</key>
	<string>您正在修改的是 复诊提醒，第02組资料</string>
	<key>ErrorCode_00</key>
	<string>成功</string>
	<key>ErrorCode_90</key>
	<string>資料存取異常</string>
	<key>ErrorCode_99</key>
	<string>程式處理異常</string>
	<key>ErrorCode_01</key>
	<string>帳戶密碼錯誤(01)</string>
	<key>ErrorCode_02</key>
	<string>帳戶密碼錯誤(02)</string>
	<key>ErrorCode_03</key>
	<string>帳戶密碼錯誤(03)</string>
	<key>ErrorCode_999</key>
	<string>Error Has Occurred</string>
	<key>Map_Bu_1</key>
	<string>地图</string>
	<key>Map_Bu_2</key>
	<string>列表</string>
	<key>Map_Bu_3</key>
	<string>地图</string>
	<key>Map_Bu_4</key>
	<string>卫星</string>
	<key>Map_Bu_5</key>
	<string>确认</string>
	<key>Map_Bu_6</key>
	<string>取消</string>
	<key>SMS_Privacy_title</key>
	<string>隐私权声明</string>
	<key>SMS_Privacy_content</key>
	<string>为了确认您的权限，及保障配戴者之个人隐私，请您输入于设定于手表中之验证码。</string>
	<key>SMS_Privacy_code</key>
	<string>请输入验证码：</string>
	<key>Act_Str_1</key>
	<string>電量</string>
	<key>Act_Str_2</key>
	<string>位置</string>
	<key>Map_Str_1</key>
	<string>在</string>
	<key>Map_Str_2</key>
	<string>手錶</string>
	<key>Map_Str_3</key>
	<string>伺服器</string>
	<key>His_Str_1</key>
	<string> 紧急求救</string>
	<key>His_Str_2</key>
	<string> 跌倒事件</string>
	<key>His_Str_3</key>
	<string> 通话记录</string>
	<key>Data_Str_1</key>
	<string>手动关机</string>
	<key>Data_Str_2</key>
	<string>低电压关机</string>
	<key>Data_Str_3</key>
	<string>定时关机</string>
	<key>Data_Str_4</key>
	<string>其他</string>
	<key>No_Net</key>
	<string>没有可用的网路</string>
	<key>Set_Str_1</key>
	<string>版本检查</string>
	<key>Set_Str_2</key>
	<string>隐私权政策</string>
	<key>Set_Str_3</key>
	<string>服务条款</string>
	<key>Set_Str_4</key>
	<string>版本 1.1.4</string>
	<key>Set_Str_5</key>
	<string>增加</string>
	<key>Set_Str_6</key>
	<string>配戴者设定</string>
	<key>Set_Str_7</key>
	<string>软件资讯</string>
	<key>Set_Str_8</key>
	<string>地图</string>
	<key>Set_Str_9</key>
	<string>内建</string>
	<key>Set_Str_10</key>
	<string>百度</string>
	<key>Show_Str_1</key>
	<string>数值</string>
	<key>Show_Str_2</key>
	<string>时间</string>
	<key>SMS_AlertMessage_1</key>
	<string>即时定位启动简讯已送出, 若定位成功, 将于3-5分钟后于地图上以紫色气球标示。</string>
	<key>SMS_AlertMessage_2</key>
	<string>验证码格式为4至8个数字。</string>
	<key>SMS_AlertMessage_3</key>
	<string>您的设备不支援简讯发送功能，无法发送SMS简讯。</string>
</dict>
</plist>
