<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Zone</key>
	<array>
		<dict>
			<key>name</key>
			<string>阿布達比</string>
			<key>value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>阿姆斯特丹</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>亞庇</string>
			<key>value</key>
			<string>-11</string>
		</dict>
		<dict>
			<key>name</key>
			<string>阿布達比</string>
			<key>value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>雅典</string>
			<key>value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>奧克蘭</string>
			<key>value</key>
			<string>12</string>
		</dict>
		<dict>
			<key>name</key>
			<string>安克雷奇</string>
			<key>value</key>
			<string>-9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>曼谷</string>
			<key>value</key>
			<string>7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>北京</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>柏林</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>聖菲波哥大</string>
			<key>value</key>
			<string>-5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>巴西利亞</string>
			<key>value</key>
			<string>-3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>布里斯班</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>布魯塞爾</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>布加勒斯特</string>
			<key>value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>布達佩斯</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>布宜諾賽勒斯</string>
			<key>value</key>
			<string>-3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>開羅</string>
			<key>value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>坎培拉</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>開普敦</string>
			<key>value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>卡薩布蘭卡</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大西洋中部</string>
			<key>value</key>
			<string>-2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>芝加哥</string>
			<key>value</key>
			<string>-6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>哥本哈根</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>達卡</string>
			<key>value</key>
			<string>6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>復活節島</string>
			<key>value</key>
			<string>-8.5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>日內瓦</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>關島</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>香港</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>檀香山</string>
			<key>value</key>
			<string>-10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>伊斯蘭馬巴德</string>
			<key>value</key>
			<string>5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>伊斯坦布爾</string>
			<key>value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>雅加達</string>
			<key>value</key>
			<string>7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>約翰尼斯堡</string>
			<key>value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>喀布爾</string>
			<key>value</key>
			<string>4.5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>阿布達比</string>
			<key>value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>加德滿都</string>
			<key>value</key>
			<string>5.75</string>
		</dict>
		<dict>
			<key>name</key>
			<string>基輔</string>
			<key>value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吉隆玻</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>誇賈林環礁</string>
			<key>value</key>
			<string>-12</string>
		</dict>
		<dict>
			<key>name</key>
			<string>拉巴斯</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>里斯本</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>倫敦</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>洛杉磯</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>盧森堡</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>馬德里</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>馬尼拉</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>墨爾本</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>墨西哥城</string>
			<key>value</key>
			<string>-6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>蒙特利爾</string>
			<key>value</key>
			<string>-5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>莫斯科</string>
			<key>value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>新德里</string>
			<key>value</key>
			<string>5.5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>紐約</string>
			<key>value</key>
			<string>-5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>諾福克島</string>
			<key>value</key>
			<string>11.5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>巴黎</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>費尼克斯</string>
			<key>value</key>
			<string>-7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>玻利尼西亞</string>
			<key>value</key>
			<string>-9.5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>布拉格</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>培亞</string>
			<key>value</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>拉巴特</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>羅馬</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>三藩市</string>
			<key>value</key>
			<string>-8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>聖地牙哥</string>
			<key>value</key>
			<string>-4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>新加坡</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>索菲亞</string>
			<key>value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>所羅門</string>
			<key>value</key>
			<string>11</string>
		</dict>
		<dict>
			<key>name</key>
			<string>斯德哥爾摩</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>悉尼</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>臺北</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>德黑蘭</string>
			<key>value</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>東京</string>
			<key>value</key>
			<string>9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>東加</string>
			<key>value</key>
			<string>12.75</string>
		</dict>
		<dict>
			<key>name</key>
			<string>溫哥華</string>
			<key>value</key>
			<string>-8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>維也納</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>符拉迪沃斯托克</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>華沙</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>威靈頓</string>
			<key>value</key>
			<string>12</string>
		</dict>
		<dict>
			<key>name</key>
			<string>仰光</string>
			<key>value</key>
			<string>6.5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>蘇黎世</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>河內</string>
			<key>value</key>
			<string>7</string>
		</dict>
	</array>
</dict>
</plist>
